<form action="/admin" method="POST">

    <label for="inputName">Threshold Distance</label>
    <input type="number" class="form-control" id="inputName" name="distance" placeholder="Enter maximum distance">
    
</br></br>

    <button type="submit" class="btn btn-primary">Enter Distance</button>
  </form>

<h5>Current threshold distance is: </h5><%= threshold_distance%>