<form action="/rider/list" method="POST">

    <label for="inputName">Name</label>
    <input type="text" class="form-control" id="inputName" name="name" placeholder="Enter Driver name...">
    
</br></br>

    <label for="inputName">Available</label>
    <input type="text" class="form-control" id="inputName" name="available" placeholder="Enter availability (true/false)">

</br></br>

    <label for="inputName">lat</label>
    <input type="number" class="form-control" id="inputName" name="lat" placeholder="Enter latitude">

</br></br>

    <label for="inputName">lng</label>
    <input type="number" class="form-control" id="inputName" name="lng" placeholder="Enter longitude">

</br></br>

    <button type="submit" class="btn btn-primary">Add Rider</button>
  </form>